//Views:
@import "./styleComponents/About";
@import "./styleComponents/Contact";
@import "./styleComponents/Footer";
@import "./styleComponents/Hero";
@import "./styleComponents/Layout";
@import "./styleComponents/Navbar";
@import "./styleComponents/Projects";

//General styles:

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body{
    background-color:#0d1117;
  
  }
  a {
    text-decoration: none;
    color: white;
  }
  p {
    color: white;
  }
  h1 {
    color: #7c161ef3;
  }
  ul {
    list-style: none;
    // padding-left: 0px;
    // margin: 0px;
  }
  
  button {
    cursor: pointer;
    border: none;
    outline: none;
  }
  